<!-- <article class="mw9 center mt3 br3 shadow-3 bg-wxflo-dark-blue">
    <div class="bb bw2"><h1 class="mv1 f3 near-white tc">WXFlo</h1></div>
    <div class="bb bw2">
        <h1 class="mv1 f6 near-white tc">
            <nvd3 options='$ctrl.options' data='$ctrl.data'></nvd3>
        </h1>
    </div>
    <h1 class="mv1 f6 near-white tc">{{$ctrl.options}}</h1>
    <h1 class="mv1 f6 near-white tc">{{$ctrl.weatherData.forecastGridData.properties.probabilityOfPrecipitation.values | json:1}}</h1>  
</article> -->
