<article ng-if='$ctrl.weatherData.obsData.properties'>
  <div class="mw9 center ph3-ns bg-wxflo-dark-blue br3 shadow-3">
    <div class="cf ph2-ns">
      <div class ="fl w-100 pa2">
        <h1 class="f4 near-white mt0 mb0">Current observations near {{ $ctrl.weatherData.meta.properties.relativeLocation.properties.city }}, {{ $ctrl.weatherData.meta.properties.relativeLocation.properties.state }}</h1>
      </div>
      <div class="fl w-100 w-30-ns pa2">
        <div class="bg-wxflo-light-blue pv4 br4 ba bw2">
          <div class="mw9 center ph3-ns">
            <div class="cf ph2-ns">
              <div class="fl w-100 w-50-ns pa2">
                <div class="bg-wxflo-light-blue">
                  <div class="tc">
                    <h1 class="f6 near-white mb1">Winds {{$ctrl.weatherData.obsData.properties.windDirection.value}}&deg; {{$ctrl.weatherData.obsData.properties.windSpeed.value}}km/h</h1>
                    <img ng-src={{$ctrl.weatherData.obsData.properties.icon}} class="br3 h9 w9 dib" title={{$ctrl.weatherData.obsData.properties.textDescription}}>
                    <h2 class="f3 near-white mb1">{{$ctrl.weatherData.obsData.properties.textDescription}}</h2>
                  </div>
                </div>
              </div>
              <div class="fl w-100 w-50-ns pa2">
                <div class="bg-wxflo-light-blue pv1">
                  <h1 class="f2 pt4 near-white mb2">{{ (($ctrl.weatherData.obsData.properties.temperature.value * 1.8)+32) | number:1 }}&deg; F</h1>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="fl w-100 w-20-ns pa1">
        <div class="bg-wxflo-dark-blue">
          <div class="pa2">
            <dl class="f5 lh-title mv2">
              <dt class="dib near-white">Relative Humidity:</dt>
              <dd class="dib ml0 light-green">{{ $ctrl.weatherData.obsData.properties.relativeHumidity.value | number:1 }}%</dd>
            </dl>
            <dl class="f5 lh-title mv2">
              <dt class="dib near-white">Dewpoint:</dt>
              <dd class="dib ml0 light-green">{{ (($ctrl.weatherData.obsData.properties.dewpoint.value * 1.8)+32) | number:1 }} &deg; F</dd>
            </dl>
            <dl class="f5 lh-title mv2">
              <dt class="dib near-white">Pressure:</dt>
              <dd class="dib ml0 light-green">{{ $ctrl.weatherData.obsData.properties.barometricPressure.value * .01 }} mb</dd>
            </dl>
            <dl class="f5 lh-title mv2" ng-if="$ctrl.weatherData.forecast.properties.periods[0].isDaytime">
              <dt class="dib near-white">Expected High:</dt>
              <dd class="dib ml0 light-red">{{ $ctrl.weatherData.forecast.properties.periods[0].temperature}}&deg; F</dd>
            </dl>
            <dl class="f5 lh-title mv2" ng-if="$ctrl.weatherData.forecast.properties.periods[1].isDaytime">
              <dt class="dib near-white">Expected High:</dt>
              <dd class="dib ml0 light-red">{{ $ctrl.weatherData.forecast.properties.periods[1].temperature}}&deg; F</dd>
            </dl>
            <dl class="f5 lh-title mv2" ng-if="!$ctrl.weatherData.forecast.properties.periods[0].isDaytime">
              <dt class="dib near-white">Expected Low:</dt>
              <dd class="dib ml0 light-blue">{{ $ctrl.weatherData.forecast.properties.periods[0].temperature}}&deg; F</dd>
            </dl>
            <dl class="f5 lh-title mv2" ng-if="!$ctrl.weatherData.forecast.properties.periods[1].isDaytime">
              <dt class="dib near-white">Expected Low:</dt>
              <dd class="dib ml0 light-blue">{{ $ctrl.weatherData.forecast.properties.periods[1].temperature}}&deg; F</dd>
            </dl>
          </div>         
        </div>
      </div>
      <div class="fl w-100 w-50-ns pa2">
        <div class="bg-wxflo-dark-blue pv4">
          <p class="near-white pa2">{{ $ctrl.weatherData.forecast.properties.periods[0].detailedForecast }}</p>
        </div>
      </div>
      <div class ="fl w-100 pa2">
        <h1 class="f6 near-white mt0 mb0">Latest Observation {{ $ctrl.weatherData.obsData.properties.timestamp | date:"short"}}</h1>
      </div>
    </div>
  </div>
</article>
